//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ./of_v0.9.8

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "./of_v0.9.8/libs/openFrameworksCompiled/project/ios/CoreOF.xcconfig"

OPENCV_OTHER_LDFLAGS_PATH = $(OF_PATH)/addons/ofxOpenCv/libs/opencv/lib/ios

LIB_OPENCV1 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_calib3d.a"
LIB_OPENCV2 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_contrib.a"
LIB_OPENCV3 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_core.a"
LIB_OPENCV4 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_features2d.a"
LIB_OPENCV5 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_flann.a"
LIB_OPENCV6 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_highgui.a"
LIB_OPENCV7 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_imgproc.a"
LIB_OPENCV8 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_legacy.a"
LIB_OPENCV9 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_ml.a"
LIB_OPENCV10 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_nonfree.a"
LIB_OPENCV11 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_objdetect.a"
LIB_OPENCV12 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_photo.a"
LIB_OPENCV13 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_stitching.a"
LIB_OPENCV14 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_video.a"
LIB_OPENCV15 = "$(OPENCV_OTHER_LDFLAGS_PATH)/opencv_videostab.a"

LIBS_OPENCV = $(LIB_OPENCV1) $(LIB_OPENCV2) $(LIB_OPENCV3) $(LIB_OPENCV4) $(LIB_OPENCV5) $(LIB_OPENCV6) $(LIB_OPENCV7) $(LIB_OPENCV8) $(LIB_OPENCV9) $(LIB_OPENCV10) $(LIB_OPENCV11) $(LIB_OPENCV12) $(LIB_OPENCV13) $(LIB_OPENCV14) $(LIB_OPENCV15)

OTHER_LDFLAGS = $(OF_CORE_LIBS) $(LIBS_OPENCV)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS)

ENABLE_BITCODE = NO
COMPRESS_PNG_FILES = NO
GCC_THUMB_SUPPORT = NO
IPHONEOS_DEPLOYMENT_TARGET = 8.1
TARGETED_DEVICE_FAMILY = 1,2
