<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>production</key>
	<dict>
		<key>hockeyAppId</key>
		<string>de051234e09f49ac8fd6e017af139f19</string>
		<key>awsCognitoPoolId</key>
		<string>eu-central-1:a57fbb10-a8ff-49e0-a69b-b6903a058868</string>
		<key>awsS3BucketName</key>
		<string>camment-prod-camments</string>
		<key>facebookAppId</key>
		<string>272405646569362</string>
		<key>apiHost</key>
		<string>https://k0ujcx8gu4.execute-api.eu-central-1.amazonaws.com/prod</string>
		<key>iotCertFile</key>
		<string>awsiot-identity-production</string>
		<key>iotCertPassPhrase</key>
		<string>{4?Z9p.8#cGpDK7H</string>
	</dict>
	<key>beta</key>
	<dict>
		<key>hockeyAppId</key>
		<string>de051234e09f49ac8fd6e017af139f19</string>
		<key>awsCognitoPoolId</key>
		<string>eu-central-1:a5d9d157-be3b-4a86-9bc9-ebd1890bcd62</string>
		<key>awsS3BucketName</key>
		<string>camment-camments</string>
		<key>facebookAppId</key>
		<string>272405646569362</string>
		<key>apiHost</key>
		<string>https://76unbx2jub.execute-api.eu-central-1.amazonaws.com/dev</string>
		<key>iotCertFile</key>
		<string>awsiot-identity-debug</string>
		<key>iotCertPassPhrase</key>
		<string>8uT$BwY+x=DF,M</string>
	</dict>
	<key>debug</key>
	<dict>
		<key>hockeyAppId</key>
		<string>de051234e09f49ac8fd6e017af139f19</string>
		<key>awsCognitoPoolId</key>
		<string>eu-central-1:a5d9d157-be3b-4a86-9bc9-ebd1890bcd62</string>
		<key>awsS3BucketName</key>
		<string>camment-camments</string>
		<key>facebookAppId</key>
		<string>272405646569362</string>
		<key>apiHost</key>
		<string>https://76unbx2jub.execute-api.eu-central-1.amazonaws.com/dev</string>
		<key>iotCertFile</key>
		<string>awsiot-identity-debug</string>
		<key>iotCertPassPhrase</key>
		<string>8uT$BwY+x=DF,M</string>
	</dict>
</dict>
</plist>
