<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>production</key>
	<dict>
		<key>iotHost</key>
		<string>https://a1ptuiv94cuwdn.iot.eu-central-1.amazonaws.com</string>
		<key>awsCognitoPoolId</key>
		<string>eu-central-1:a57fbb10-a8ff-49e0-a69b-b6903a058868</string>
		<key>awsS3BucketName</key>
		<string>camment-prod-camments</string>
		<key>apiHost</key>
		<string>https://api.camment.tv</string>
		<key>iotCertFile</key>
		<string>awsiot-identity-production</string>
		<key>iotCertPassPhrase</key>
		<string>{4?Z9p.8#cGpDK7H</string>
	</dict>
</dict>
</plist>
